%h1 Listing otg_inpvals

%table
  %thead
    %tr
      %th Target
      %th One
      %th One description
      %th One findings
      %th One liklihood
      %th One consequence
      %th One risk
      %th One recommendations
      %th One current
      %th Two
      %th Two description
      %th Two findings
      %th Two liklihood
      %th Two consequence
      %th Two risk
      %th Two recommendations
      %th Two current
      %th Three
      %th Three description
      %th Three findings
      %th Three liklihood
      %th Three consequence
      %th Three risk
      %th Three recommendations
      %th Three current
      %th Four
      %th Four description
      %th Four findings
      %th Four liklihood
      %th Four consequence
      %th Four risk
      %th Four recommendations
      %th Four current
      %th Five
      %th Five description
      %th Five findings
      %th Five liklihood
      %th Five consequence
      %th Five risk
      %th Five recommendations
      %th Five current
      %th Six
      %th Six description
      %th Six findings
      %th Six liklihood
      %th Six consequence
      %th Six risk
      %th Six recommendations
      %th Six current
      %th Seven
      %th Seven description
      %th Seven findings
      %th Seven liklihood
      %th Seven consequence
      %th Seven risk
      %th Seven recommendations
      %th Seven current
      %th Eight
      %th Eight description
      %th Eight findings
      %th Eight liklihood
      %th Eight consequence
      %th Eight risk
      %th Eight recommendations
      %th Eight current
      %th Nine
      %th Nine description
      %th Nine findings
      %th Nine liklihood
      %th Nine consequence
      %th Nine risk
      %th Nine recommendations
      %th Nine current
      %th Ten
      %th Ten description
      %th Ten findings
      %th Ten liklihood
      %th Ten consequence
      %th Ten risk
      %th Ten recommendations
      %th Ten current
      %th Eleven
      %th Eleven description
      %th Eleven findings
      %th Eleven liklihood
      %th Eleven consequence
      %th Eleven risk
      %th Eleven recommendations
      %th Eleven current
      %th Ten
      %th Twelve description
      %th Twelve findings
      %th Twelve liklihood
      %th Twelve consequence
      %th Twelve risk
      %th Twelve recommendations
      %th Twelve current
      %th Thirteen
      %th Thirteen description
      %th Thirteen findings
      %th Thirteen liklihood
      %th Thirteen consequence
      %th Thirteen risk
      %th Thirteen recommendations
      %th Thirteen current
      %th Fourteen
      %th Fourteen description
      %th Fourteen findings
      %th Fourteen liklihood
      %th Fourteen consequence
      %th Fourteen risk
      %th Fourteen recommendations
      %th Fourteen current
      %th Fifteen
      %th Fifteen description
      %th Fifteen findings
      %th Fifteen liklihood
      %th Fifteen consequence
      %th Fifteen risk
      %th Fifteen recommendations
      %th Fifteen current
      %th Sixteen
      %th Sixteen description
      %th Sixteen findings
      %th Sixteen liklihood
      %th Sixteen consequence
      %th Sixteen risk
      %th Sixteen recommendations
      %th Sixteen current
      %th Seventeen
      %th Seventeen description
      %th Seventeen findings
      %th Seventeen liklihood
      %th Seventeen consequence
      %th Seventeen risk
      %th Seventeen recommendations
      %th Seventeen current
      %th
      %th
      %th

  %tbody
    - @otg_inpvals.each do |otg_inpval|
      %tr
        %td= otg_inpval.target_id
        %td= otg_inpval.one_id
        %td= otg_inpval.one_description
        %td= otg_inpval.one_findings
        %td= otg_inpval.one_liklihood
        %td= otg_inpval.one_consequence
        %td= otg_inpval.one_risk
        %td= otg_inpval.one_recommendations
        %td= otg_inpval.one_current
        %td= otg_inpval.two_id
        %td= otg_inpval.two_description
        %td= otg_inpval.two_findings
        %td= otg_inpval.two_liklihood
        %td= otg_inpval.two_consequence
        %td= otg_inpval.two_risk
        %td= otg_inpval.two_recommendations
        %td= otg_inpval.two_current
        %td= otg_inpval.three_id
        %td= otg_inpval.three_description
        %td= otg_inpval.three_findings
        %td= otg_inpval.three_liklihood
        %td= otg_inpval.three_consequence
        %td= otg_inpval.three_risk
        %td= otg_inpval.three_recommendations
        %td= otg_inpval.three_current
        %td= otg_inpval.four_id
        %td= otg_inpval.four_description
        %td= otg_inpval.four_findings
        %td= otg_inpval.four_liklihood
        %td= otg_inpval.four_consequence
        %td= otg_inpval.four_risk
        %td= otg_inpval.four_recommendations
        %td= otg_inpval.four_current
        %td= otg_inpval.five_id
        %td= otg_inpval.five_description
        %td= otg_inpval.five_findings
        %td= otg_inpval.five_liklihood
        %td= otg_inpval.five_consequence
        %td= otg_inpval.five_risk
        %td= otg_inpval.five_recommendations
        %td= otg_inpval.five_current
        %td= otg_inpval.six_id
        %td= otg_inpval.six_description
        %td= otg_inpval.six_findings
        %td= otg_inpval.six_liklihood
        %td= otg_inpval.six_consequence
        %td= otg_inpval.six_risk
        %td= otg_inpval.six_recommendations
        %td= otg_inpval.six_current
        %td= otg_inpval.seven_id
        %td= otg_inpval.seven_description
        %td= otg_inpval.seven_findings
        %td= otg_inpval.seven_liklihood
        %td= otg_inpval.seven_consequence
        %td= otg_inpval.seven_risk
        %td= otg_inpval.seven_recommendations
        %td= otg_inpval.seven_current
        %td= otg_inpval.eight_id
        %td= otg_inpval.eight_description
        %td= otg_inpval.eight_findings
        %td= otg_inpval.eight_liklihood
        %td= otg_inpval.eight_consequence
        %td= otg_inpval.eight_risk
        %td= otg_inpval.eight_recommendations
        %td= otg_inpval.eight_current
        %td= otg_inpval.nine_id
        %td= otg_inpval.nine_description
        %td= otg_inpval.nine_findings
        %td= otg_inpval.nine_liklihood
        %td= otg_inpval.nine_consequence
        %td= otg_inpval.nine_risk
        %td= otg_inpval.nine_recommendations
        %td= otg_inpval.nine_current
        %td= otg_inpval.ten_id
        %td= otg_inpval.ten_description
        %td= otg_inpval.ten_findings
        %td= otg_inpval.ten_liklihood
        %td= otg_inpval.ten_consequence
        %td= otg_inpval.ten_risk
        %td= otg_inpval.ten_recommendations
        %td= otg_inpval.ten_current
        %td= otg_inpval.eleven_id
        %td= otg_inpval.eleven_description
        %td= otg_inpval.eleven_findings
        %td= otg_inpval.eleven_liklihood
        %td= otg_inpval.eleven_consequence
        %td= otg_inpval.eleven_risk
        %td= otg_inpval.eleven_recommendations
        %td= otg_inpval.eleven_current
        %td= otg_inpval.ten_id
        %td= otg_inpval.twelve_description
        %td= otg_inpval.twelve_findings
        %td= otg_inpval.twelve_liklihood
        %td= otg_inpval.twelve_consequence
        %td= otg_inpval.twelve_risk
        %td= otg_inpval.twelve_recommendations
        %td= otg_inpval.twelve_current
        %td= otg_inpval.thirteen_id
        %td= otg_inpval.thirteen_description
        %td= otg_inpval.thirteen_findings
        %td= otg_inpval.thirteen_liklihood
        %td= otg_inpval.thirteen_consequence
        %td= otg_inpval.thirteen_risk
        %td= otg_inpval.thirteen_recommendations
        %td= otg_inpval.thirteen_current
        %td= otg_inpval.fourteen_id
        %td= otg_inpval.fourteen_description
        %td= otg_inpval.fourteen_findings
        %td= otg_inpval.fourteen_liklihood
        %td= otg_inpval.fourteen_consequence
        %td= otg_inpval.fourteen_risk
        %td= otg_inpval.fourteen_recommendations
        %td= otg_inpval.fourteen_current
        %td= otg_inpval.fifteen_id
        %td= otg_inpval.fifteen_description
        %td= otg_inpval.fifteen_findings
        %td= otg_inpval.fifteen_liklihood
        %td= otg_inpval.fifteen_consequence
        %td= otg_inpval.fifteen_risk
        %td= otg_inpval.fifteen_recommendations
        %td= otg_inpval.fifteen_current
        %td= otg_inpval.sixteen_id
        %td= otg_inpval.sixteen_description
        %td= otg_inpval.sixteen_findings
        %td= otg_inpval.sixteen_liklihood
        %td= otg_inpval.sixteen_consequence
        %td= otg_inpval.sixteen_risk
        %td= otg_inpval.sixteen_recommendations
        %td= otg_inpval.sixteen_current
        %td= otg_inpval.seventeen_id
        %td= otg_inpval.seventeen_description
        %td= otg_inpval.seventeen_findings
        %td= otg_inpval.seventeen_liklihood
        %td= otg_inpval.seventeen_consequence
        %td= otg_inpval.seventeen_risk
        %td= otg_inpval.seventeen_recommendations
        %td= otg_inpval.seventeen_current
        %td= link_to 'Show', otg_inpval
        %td= link_to 'Edit', edit_otg_inpval_path(otg_inpval)
        %td= link_to 'Destroy', otg_inpval, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Otg inpval', new_otg_inpval_path
