%p#notice= notice

%p
  %b Target:
  = @otg_inpval.target_id
%p
  %b One:
  = @otg_inpval.one_id
%p
  %b One description:
  = @otg_inpval.one_description
%p
  %b One findings:
  = @otg_inpval.one_findings
%p
  %b One liklihood:
  = @otg_inpval.one_liklihood
%p
  %b One consequence:
  = @otg_inpval.one_consequence
%p
  %b One risk:
  = @otg_inpval.one_risk
%p
  %b One recommendations:
  = @otg_inpval.one_recommendations
%p
  %b One current:
  = @otg_inpval.one_current
%p
  %b Two:
  = @otg_inpval.two_id
%p
  %b Two description:
  = @otg_inpval.two_description
%p
  %b Two findings:
  = @otg_inpval.two_findings
%p
  %b Two liklihood:
  = @otg_inpval.two_liklihood
%p
  %b Two consequence:
  = @otg_inpval.two_consequence
%p
  %b Two risk:
  = @otg_inpval.two_risk
%p
  %b Two recommendations:
  = @otg_inpval.two_recommendations
%p
  %b Two current:
  = @otg_inpval.two_current
%p
  %b Three:
  = @otg_inpval.three_id
%p
  %b Three description:
  = @otg_inpval.three_description
%p
  %b Three findings:
  = @otg_inpval.three_findings
%p
  %b Three liklihood:
  = @otg_inpval.three_liklihood
%p
  %b Three consequence:
  = @otg_inpval.three_consequence
%p
  %b Three risk:
  = @otg_inpval.three_risk
%p
  %b Three recommendations:
  = @otg_inpval.three_recommendations
%p
  %b Three current:
  = @otg_inpval.three_current
%p
  %b Four:
  = @otg_inpval.four_id
%p
  %b Four description:
  = @otg_inpval.four_description
%p
  %b Four findings:
  = @otg_inpval.four_findings
%p
  %b Four liklihood:
  = @otg_inpval.four_liklihood
%p
  %b Four consequence:
  = @otg_inpval.four_consequence
%p
  %b Four risk:
  = @otg_inpval.four_risk
%p
  %b Four recommendations:
  = @otg_inpval.four_recommendations
%p
  %b Four current:
  = @otg_inpval.four_current
%p
  %b Five:
  = @otg_inpval.five_id
%p
  %b Five description:
  = @otg_inpval.five_description
%p
  %b Five findings:
  = @otg_inpval.five_findings
%p
  %b Five liklihood:
  = @otg_inpval.five_liklihood
%p
  %b Five consequence:
  = @otg_inpval.five_consequence
%p
  %b Five risk:
  = @otg_inpval.five_risk
%p
  %b Five recommendations:
  = @otg_inpval.five_recommendations
%p
  %b Five current:
  = @otg_inpval.five_current
%p
  %b Six:
  = @otg_inpval.six_id
%p
  %b Six description:
  = @otg_inpval.six_description
%p
  %b Six findings:
  = @otg_inpval.six_findings
%p
  %b Six liklihood:
  = @otg_inpval.six_liklihood
%p
  %b Six consequence:
  = @otg_inpval.six_consequence
%p
  %b Six risk:
  = @otg_inpval.six_risk
%p
  %b Six recommendations:
  = @otg_inpval.six_recommendations
%p
  %b Six current:
  = @otg_inpval.six_current
%p
  %b Seven:
  = @otg_inpval.seven_id
%p
  %b Seven description:
  = @otg_inpval.seven_description
%p
  %b Seven findings:
  = @otg_inpval.seven_findings
%p
  %b Seven liklihood:
  = @otg_inpval.seven_liklihood
%p
  %b Seven consequence:
  = @otg_inpval.seven_consequence
%p
  %b Seven risk:
  = @otg_inpval.seven_risk
%p
  %b Seven recommendations:
  = @otg_inpval.seven_recommendations
%p
  %b Seven current:
  = @otg_inpval.seven_current
%p
  %b Eight:
  = @otg_inpval.eight_id
%p
  %b Eight description:
  = @otg_inpval.eight_description
%p
  %b Eight findings:
  = @otg_inpval.eight_findings
%p
  %b Eight liklihood:
  = @otg_inpval.eight_liklihood
%p
  %b Eight consequence:
  = @otg_inpval.eight_consequence
%p
  %b Eight risk:
  = @otg_inpval.eight_risk
%p
  %b Eight recommendations:
  = @otg_inpval.eight_recommendations
%p
  %b Eight current:
  = @otg_inpval.eight_current
%p
  %b Nine:
  = @otg_inpval.nine_id
%p
  %b Nine description:
  = @otg_inpval.nine_description
%p
  %b Nine findings:
  = @otg_inpval.nine_findings
%p
  %b Nine liklihood:
  = @otg_inpval.nine_liklihood
%p
  %b Nine consequence:
  = @otg_inpval.nine_consequence
%p
  %b Nine risk:
  = @otg_inpval.nine_risk
%p
  %b Nine recommendations:
  = @otg_inpval.nine_recommendations
%p
  %b Nine current:
  = @otg_inpval.nine_current
%p
  %b Ten:
  = @otg_inpval.ten_id
%p
  %b Ten description:
  = @otg_inpval.ten_description
%p
  %b Ten findings:
  = @otg_inpval.ten_findings
%p
  %b Ten liklihood:
  = @otg_inpval.ten_liklihood
%p
  %b Ten consequence:
  = @otg_inpval.ten_consequence
%p
  %b Ten risk:
  = @otg_inpval.ten_risk
%p
  %b Ten recommendations:
  = @otg_inpval.ten_recommendations
%p
  %b Ten current:
  = @otg_inpval.ten_current
%p
  %b Eleven:
  = @otg_inpval.eleven_id
%p
  %b Eleven description:
  = @otg_inpval.eleven_description
%p
  %b Eleven findings:
  = @otg_inpval.eleven_findings
%p
  %b Eleven liklihood:
  = @otg_inpval.eleven_liklihood
%p
  %b Eleven consequence:
  = @otg_inpval.eleven_consequence
%p
  %b Eleven risk:
  = @otg_inpval.eleven_risk
%p
  %b Eleven recommendations:
  = @otg_inpval.eleven_recommendations
%p
  %b Eleven current:
  = @otg_inpval.eleven_current
%p
  %b Ten:
  = @otg_inpval.ten_id
%p
  %b Twelve description:
  = @otg_inpval.twelve_description
%p
  %b Twelve findings:
  = @otg_inpval.twelve_findings
%p
  %b Twelve liklihood:
  = @otg_inpval.twelve_liklihood
%p
  %b Twelve consequence:
  = @otg_inpval.twelve_consequence
%p
  %b Twelve risk:
  = @otg_inpval.twelve_risk
%p
  %b Twelve recommendations:
  = @otg_inpval.twelve_recommendations
%p
  %b Twelve current:
  = @otg_inpval.twelve_current
%p
  %b Thirteen:
  = @otg_inpval.thirteen_id
%p
  %b Thirteen description:
  = @otg_inpval.thirteen_description
%p
  %b Thirteen findings:
  = @otg_inpval.thirteen_findings
%p
  %b Thirteen liklihood:
  = @otg_inpval.thirteen_liklihood
%p
  %b Thirteen consequence:
  = @otg_inpval.thirteen_consequence
%p
  %b Thirteen risk:
  = @otg_inpval.thirteen_risk
%p
  %b Thirteen recommendations:
  = @otg_inpval.thirteen_recommendations
%p
  %b Thirteen current:
  = @otg_inpval.thirteen_current
%p
  %b Fourteen:
  = @otg_inpval.fourteen_id
%p
  %b Fourteen description:
  = @otg_inpval.fourteen_description
%p
  %b Fourteen findings:
  = @otg_inpval.fourteen_findings
%p
  %b Fourteen liklihood:
  = @otg_inpval.fourteen_liklihood
%p
  %b Fourteen consequence:
  = @otg_inpval.fourteen_consequence
%p
  %b Fourteen risk:
  = @otg_inpval.fourteen_risk
%p
  %b Fourteen recommendations:
  = @otg_inpval.fourteen_recommendations
%p
  %b Fourteen current:
  = @otg_inpval.fourteen_current
%p
  %b Fifteen:
  = @otg_inpval.fifteen_id
%p
  %b Fifteen description:
  = @otg_inpval.fifteen_description
%p
  %b Fifteen findings:
  = @otg_inpval.fifteen_findings
%p
  %b Fifteen liklihood:
  = @otg_inpval.fifteen_liklihood
%p
  %b Fifteen consequence:
  = @otg_inpval.fifteen_consequence
%p
  %b Fifteen risk:
  = @otg_inpval.fifteen_risk
%p
  %b Fifteen recommendations:
  = @otg_inpval.fifteen_recommendations
%p
  %b Fifteen current:
  = @otg_inpval.fifteen_current
%p
  %b Sixteen:
  = @otg_inpval.sixteen_id
%p
  %b Sixteen description:
  = @otg_inpval.sixteen_description
%p
  %b Sixteen findings:
  = @otg_inpval.sixteen_findings
%p
  %b Sixteen liklihood:
  = @otg_inpval.sixteen_liklihood
%p
  %b Sixteen consequence:
  = @otg_inpval.sixteen_consequence
%p
  %b Sixteen risk:
  = @otg_inpval.sixteen_risk
%p
  %b Sixteen recommendations:
  = @otg_inpval.sixteen_recommendations
%p
  %b Sixteen current:
  = @otg_inpval.sixteen_current
%p
  %b Seventeen:
  = @otg_inpval.seventeen_id
%p
  %b Seventeen description:
  = @otg_inpval.seventeen_description
%p
  %b Seventeen findings:
  = @otg_inpval.seventeen_findings
%p
  %b Seventeen liklihood:
  = @otg_inpval.seventeen_liklihood
%p
  %b Seventeen consequence:
  = @otg_inpval.seventeen_consequence
%p
  %b Seventeen risk:
  = @otg_inpval.seventeen_risk
%p
  %b Seventeen recommendations:
  = @otg_inpval.seventeen_recommendations
%p
  %b Seventeen current:
  = @otg_inpval.seventeen_current

= link_to 'Edit', edit_otg_inpval_path(@otg_inpval)
\|
= link_to 'Back', otg_inpvals_path
