%h1 Listing otg_crypsts

%table
  %thead
    %tr
      %th Target
      %th One
      %th One description
      %th One findings
      %th One liklihood
      %th One consequence
      %th One risk
      %th One recommendations
      %th One current
      %th Two
      %th Two description
      %th Two findings
      %th Two liklihood
      %th Two consequence
      %th Two risk
      %th Two recommendations
      %th Two current
      %th Three
      %th Three description
      %th Three findings
      %th Three liklihood
      %th Three consequence
      %th Three risk
      %th Three recommendations
      %th Three current
      %th
      %th
      %th

  %tbody
    - @otg_crypsts.each do |otg_crypst|
      %tr
        %td= otg_crypst.target_id
        %td= otg_crypst.one_id
        %td= otg_crypst.one_description
        %td= otg_crypst.one_findings
        %td= otg_crypst.one_liklihood
        %td= otg_crypst.one_consequence
        %td= otg_crypst.one_risk
        %td= otg_crypst.one_recommendations
        %td= otg_crypst.one_current
        %td= otg_crypst.two_id
        %td= otg_crypst.two_description
        %td= otg_crypst.two_findings
        %td= otg_crypst.two_liklihood
        %td= otg_crypst.two_consequence
        %td= otg_crypst.two_risk
        %td= otg_crypst.two_recommendations
        %td= otg_crypst.two_current
        %td= otg_crypst.three_id
        %td= otg_crypst.three_description
        %td= otg_crypst.three_findings
        %td= otg_crypst.three_liklihood
        %td= otg_crypst.three_consequence
        %td= otg_crypst.three_risk
        %td= otg_crypst.three_recommendations
        %td= otg_crypst.three_current
        %td= link_to 'Show', otg_crypst
        %td= link_to 'Edit', edit_otg_crypst_path(otg_crypst)
        %td= link_to 'Destroy', otg_crypst, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Otg crypst', new_otg_crypst_path
