%p#notice= notice

%p
  %b Target:
  = @otg_crypst.target_id
%p
  %b One:
  = @otg_crypst.one_id
%p
  %b One description:
  = @otg_crypst.one_description
%p
  %b One findings:
  = @otg_crypst.one_findings
%p
  %b One liklihood:
  = @otg_crypst.one_liklihood
%p
  %b One consequence:
  = @otg_crypst.one_consequence
%p
  %b One risk:
  = @otg_crypst.one_risk
%p
  %b One recommendations:
  = @otg_crypst.one_recommendations
%p
  %b One current:
  = @otg_crypst.one_current
%p
  %b Two:
  = @otg_crypst.two_id
%p
  %b Two description:
  = @otg_crypst.two_description
%p
  %b Two findings:
  = @otg_crypst.two_findings
%p
  %b Two liklihood:
  = @otg_crypst.two_liklihood
%p
  %b Two consequence:
  = @otg_crypst.two_consequence
%p
  %b Two risk:
  = @otg_crypst.two_risk
%p
  %b Two recommendations:
  = @otg_crypst.two_recommendations
%p
  %b Two current:
  = @otg_crypst.two_current
%p
  %b Three:
  = @otg_crypst.three_id
%p
  %b Three description:
  = @otg_crypst.three_description
%p
  %b Three findings:
  = @otg_crypst.three_findings
%p
  %b Three liklihood:
  = @otg_crypst.three_liklihood
%p
  %b Three consequence:
  = @otg_crypst.three_consequence
%p
  %b Three risk:
  = @otg_crypst.three_risk
%p
  %b Three recommendations:
  = @otg_crypst.three_recommendations
%p
  %b Three current:
  = @otg_crypst.three_current

= link_to 'Edit', edit_otg_crypst_path(@otg_crypst)
\|
= link_to 'Back', otg_crypsts_path
