%p#notice= notice

%p
  %b Target:
  = @otg_config.target_id
%p
  %b One:
  = @otg_config.one_id
%p
  %b One description:
  = @otg_config.one_description
%p
  %b One findings:
  = @otg_config.one_findings
%p
  %b One liklihood:
  = @otg_config.one_liklihood
%p
  %b One consequence:
  = @otg_config.one_consequence
%p
  %b One risk:
  = @otg_config.one_risk
%p
  %b One recommendations:
  = @otg_config.one_recommendations
%p
  %b One current:
  = @otg_config.one_current
%p
  %b Two:
  = @otg_config.two_id
%p
  %b Two description:
  = @otg_config.two_description
%p
  %b Two findings:
  = @otg_config.two_findings
%p
  %b Two liklihood:
  = @otg_config.two_liklihood
%p
  %b Two consequence:
  = @otg_config.two_consequence
%p
  %b Two risk:
  = @otg_config.two_risk
%p
  %b Two recommendations:
  = @otg_config.two_recommendations
%p
  %b Two current:
  = @otg_config.two_current
%p
  %b Three:
  = @otg_config.three_id
%p
  %b Three description:
  = @otg_config.three_description
%p
  %b Three findings:
  = @otg_config.three_findings
%p
  %b Three liklihood:
  = @otg_config.three_liklihood
%p
  %b Three consequence:
  = @otg_config.three_consequence
%p
  %b Three risk:
  = @otg_config.three_risk
%p
  %b Three recommendations:
  = @otg_config.three_recommendations
%p
  %b Three current:
  = @otg_config.three_current
%p
  %b Four:
  = @otg_config.four_id
%p
  %b Four description:
  = @otg_config.four_description
%p
  %b Four findings:
  = @otg_config.four_findings
%p
  %b Four liklihood:
  = @otg_config.four_liklihood
%p
  %b Four consequence:
  = @otg_config.four_consequence
%p
  %b Four risk:
  = @otg_config.four_risk
%p
  %b Four recommendations:
  = @otg_config.four_recommendations
%p
  %b Four current:
  = @otg_config.four_current
%p
  %b Five:
  = @otg_config.five_id
%p
  %b Five description:
  = @otg_config.five_description
%p
  %b Five findings:
  = @otg_config.five_findings
%p
  %b Five liklihood:
  = @otg_config.five_liklihood
%p
  %b Five consequence:
  = @otg_config.five_consequence
%p
  %b Five risk:
  = @otg_config.five_risk
%p
  %b Five recommendations:
  = @otg_config.five_recommendations
%p
  %b Five current:
  = @otg_config.five_current
%p
  %b Six:
  = @otg_config.six_id
%p
  %b Six description:
  = @otg_config.six_description
%p
  %b Six findings:
  = @otg_config.six_findings
%p
  %b Six liklihood:
  = @otg_config.six_liklihood
%p
  %b Six consequence:
  = @otg_config.six_consequence
%p
  %b Six risk:
  = @otg_config.six_risk
%p
  %b Six recommendations:
  = @otg_config.six_recommendations
%p
  %b Six current:
  = @otg_config.six_current
%p
  %b Seven:
  = @otg_config.seven_id
%p
  %b Seven description:
  = @otg_config.seven_description
%p
  %b Seven findings:
  = @otg_config.seven_findings
%p
  %b Seven liklihood:
  = @otg_config.seven_liklihood
%p
  %b Seven consequence:
  = @otg_config.seven_consequence
%p
  %b Seven risk:
  = @otg_config.seven_risk
%p
  %b Seven recommendations:
  = @otg_config.seven_recommendations
%p
  %b Seven current:
  = @otg_config.seven_current
%p
  %b Eight:
  = @otg_config.eight_id
%p
  %b Eight description:
  = @otg_config.eight_description
%p
  %b Eight findings:
  = @otg_config.eight_findings
%p
  %b Eight liklihood:
  = @otg_config.eight_liklihood
%p
  %b Eight consequence:
  = @otg_config.eight_consequence
%p
  %b Eight risk:
  = @otg_config.eight_risk
%p
  %b Eight recommendations:
  = @otg_config.eight_recommendations
%p
  %b Eight current:
  = @otg_config.eight_current

= link_to 'Edit', edit_otg_config_path(@otg_config)
\|
= link_to 'Back', otg_configs_path
