%p#notice= notice

%section.feature-pricing
  %section.section-content.section-pricing#section-pricing 
    = simple_form_for(@otg_info) do |f|
      = f.error_notification
      %section.section-content.section-table#section-table
        .container
          .row
            .span3
              -target = @otg_info.target
              %h2.section-title Editing: Information Gathering
            .span9     
              - (1..20).each do |iterator|
                - if @otg_info.attributes.include?("#{iterator.humanize}_id")   
                            
                  %h3= @otg_info.send "#{iterator.humanize}_id" 
                  %table.table.table-striped.table-condensed
                    %tr
                      %th{:style => "width:25%;"} Description
                      %td{:style => "width:75%;"}= f.text_area("#{iterator.humanize}_description", :style => "width:90%;")
                    %tr
                      %th Findings
                      %td= f.text_area("#{iterator.humanize}_findings", :style => "width:90%;")
                    %tr
                      %th Recommendations
                      %td= f.text_area("#{iterator.humanize}_recommendations", :style => "width:90%")
                    %tr
                      %th Liklihood
                      %td{:style=>"width:5px;"}= f.input "#{iterator.humanize}_liklihood", collection: 1..3, :label => false
                    %tr
                      %th Consequence
                      %td= f.input "#{iterator.humanize}_consequence", collection: 1..3, :label => false
                      / %th Severity
                      /# %td= @otg_info.send("#{iterator.humanize}_risk")
              .form-actions
                = f.button :submit, 'Save'



/ = simple_form_for(@otg_info) do |f|
/   = f.error_notification

/   .form-inputs
/     = f.input :target_id
/     = f.input :one_id
/     = f.input :one_description
/     = f.input :one_findings
/     = f.input :one_liklihood
/     = f.input :one_consequence
/     = f.input :one_risk
/     = f.input :one_recommendations
/     = f.input :one_current
/     = f.input :two_id
/     = f.input :two_description
/     = f.input :two_findings
/     = f.input :two_liklihood
/     = f.input :two_consequence
/     = f.input :two_risk
/     = f.input :two_recommendations
/     = f.input :two_current
/     = f.input :three_id
/     = f.input :three_description
/     = f.input :three_findings
/     = f.input :three_liklihood
/     = f.input :three_consequence
/     = f.input :three_risk
/     = f.input :three_recommendations
/     = f.input :three_current
/     = f.input :four_id
/     = f.input :four_description
/     = f.input :four_findings
/     = f.input :four_liklihood
/     = f.input :four_consequence
/     = f.input :four_risk
/     = f.input :four_recommendations
/     = f.input :four_current
/     = f.input :five_id
/     = f.input :five_description
/     = f.input :five_findings
/     = f.input :five_liklihood
/     = f.input :five_consequence
/     = f.input :five_risk
/     = f.input :five_recommendations
/     = f.input :five_current
/     = f.input :six_id
/     = f.input :six_description
/     = f.input :six_findings
/     = f.input :six_liklihood
/     = f.input :six_consequence
/     = f.input :six_risk
/     = f.input :six_recommendations
/     = f.input :six_current
/     = f.input :seven_id
/     = f.input :seven_description
/     = f.input :seven_findings
/     = f.input :seven_liklihood
/     = f.input :seven_consequence
/     = f.input :seven_risk
/     = f.input :seven_recommendations
/     = f.input :seven_current
/     = f.input :eight_id
/     = f.input :eight_description
/     = f.input :eight_findings
/     = f.input :eight_liklihood
/     = f.input :eight_consequence
/     = f.input :eight_risk
/     = f.input :eight_recommendations
/     = f.input :eight_current
/     = f.input :nine_id
/     = f.input :nine_description
/     = f.input :nine_findings
/     = f.input :nine_liklihood
/     = f.input :nine_consequence
/     = f.input :nine_risk
/     = f.input :nine_recommendations
/     = f.input :nine_current
/     = f.input :ten_id
/     = f.input :ten_description
/     = f.input :ten_findings
/     = f.input :ten_liklihood
/     = f.input :ten_consequence
/     = f.input :ten_risk
/     = f.input :ten_recommendations
/     = f.input :ten_current

/   .form-actions
/     = f.button :submit
