%p#notice= notice

%p
  %b Target:
  = @otg_info.target_id
%p
  %b One:
  = @otg_info.one_id
%p
  %b One description:
  = @otg_info.one_description
%p
  %b One findings:
  = @otg_info.one_findings
%p
  %b One liklihood:
  = @otg_info.one_liklihood
%p
  %b One consequence:
  = @otg_info.one_consequence
%p
  %b One risk:
  = @otg_info.one_risk
%p
  %b One recommendations:
  = @otg_info.one_recommendations
%p
  %b One current:
  = @otg_info.one_current
%p
  %b Two:
  = @otg_info.two_id
%p
  %b Two description:
  = @otg_info.two_description
%p
  %b Two findings:
  = @otg_info.two_findings
%p
  %b Two liklihood:
  = @otg_info.two_liklihood
%p
  %b Two consequence:
  = @otg_info.two_consequence
%p
  %b Two risk:
  = @otg_info.two_risk
%p
  %b Two recommendations:
  = @otg_info.two_recommendations
%p
  %b Two current:
  = @otg_info.two_current
%p
  %b Three:
  = @otg_info.three_id
%p
  %b Three description:
  = @otg_info.three_description
%p
  %b Three findings:
  = @otg_info.three_findings
%p
  %b Three liklihood:
  = @otg_info.three_liklihood
%p
  %b Three consequence:
  = @otg_info.three_consequence
%p
  %b Three risk:
  = @otg_info.three_risk
%p
  %b Three recommendations:
  = @otg_info.three_recommendations
%p
  %b Three current:
  = @otg_info.three_current
%p
  %b Four:
  = @otg_info.four_id
%p
  %b Four description:
  = @otg_info.four_description
%p
  %b Four findings:
  = @otg_info.four_findings
%p
  %b Four liklihood:
  = @otg_info.four_liklihood
%p
  %b Four consequence:
  = @otg_info.four_consequence
%p
  %b Four risk:
  = @otg_info.four_risk
%p
  %b Four recommendations:
  = @otg_info.four_recommendations
%p
  %b Four current:
  = @otg_info.four_current
%p
  %b Five:
  = @otg_info.five_id
%p
  %b Five description:
  = @otg_info.five_description
%p
  %b Five findings:
  = @otg_info.five_findings
%p
  %b Five liklihood:
  = @otg_info.five_liklihood
%p
  %b Five consequence:
  = @otg_info.five_consequence
%p
  %b Five risk:
  = @otg_info.five_risk
%p
  %b Five recommendations:
  = @otg_info.five_recommendations
%p
  %b Five current:
  = @otg_info.five_current
%p
  %b Six:
  = @otg_info.six_id
%p
  %b Six description:
  = @otg_info.six_description
%p
  %b Six findings:
  = @otg_info.six_findings
%p
  %b Six liklihood:
  = @otg_info.six_liklihood
%p
  %b Six consequence:
  = @otg_info.six_consequence
%p
  %b Six risk:
  = @otg_info.six_risk
%p
  %b Six recommendations:
  = @otg_info.six_recommendations
%p
  %b Six current:
  = @otg_info.six_current
%p
  %b Seven:
  = @otg_info.seven_id
%p
  %b Seven description:
  = @otg_info.seven_description
%p
  %b Seven findings:
  = @otg_info.seven_findings
%p
  %b Seven liklihood:
  = @otg_info.seven_liklihood
%p
  %b Seven consequence:
  = @otg_info.seven_consequence
%p
  %b Seven risk:
  = @otg_info.seven_risk
%p
  %b Seven recommendations:
  = @otg_info.seven_recommendations
%p
  %b Seven current:
  = @otg_info.seven_current
%p
  %b Eight:
  = @otg_info.eight_id
%p
  %b Eight description:
  = @otg_info.eight_description
%p
  %b Eight findings:
  = @otg_info.eight_findings
%p
  %b Eight liklihood:
  = @otg_info.eight_liklihood
%p
  %b Eight consequence:
  = @otg_info.eight_consequence
%p
  %b Eight risk:
  = @otg_info.eight_risk
%p
  %b Eight recommendations:
  = @otg_info.eight_recommendations
%p
  %b Eight current:
  = @otg_info.eight_current
%p
  %b Nine:
  = @otg_info.nine_id
%p
  %b Nine description:
  = @otg_info.nine_description
%p
  %b Nine findings:
  = @otg_info.nine_findings
%p
  %b Nine liklihood:
  = @otg_info.nine_liklihood
%p
  %b Nine consequence:
  = @otg_info.nine_consequence
%p
  %b Nine risk:
  = @otg_info.nine_risk
%p
  %b Nine recommendations:
  = @otg_info.nine_recommendations
%p
  %b Nine current:
  = @otg_info.nine_current
%p
  %b Ten:
  = @otg_info.ten_id
%p
  %b Ten description:
  = @otg_info.ten_description
%p
  %b Ten findings:
  = @otg_info.ten_findings
%p
  %b Ten liklihood:
  = @otg_info.ten_liklihood
%p
  %b Ten consequence:
  = @otg_info.ten_consequence
%p
  %b Ten risk:
  = @otg_info.ten_risk
%p
  %b Ten recommendations:
  = @otg_info.ten_recommendations
%p
  %b Ten current:
  = @otg_info.ten_current

= link_to 'Edit', edit_otg_info_path(@otg_info)
\|
= link_to 'Back', otg_infos_path
