= simple_form_for(@otg_authz) do |f|
  = f.error_notification

  .form-inputs
    = f.input :target_id
    = f.input :one_id
    = f.input :one_description
    = f.input :one_findings
    = f.input :one_liklihood
    = f.input :one_consequence
    = f.input :one_risk
    = f.input :one_recommendations
    = f.input :one_current
    = f.input :two_id
    = f.input :two_description
    = f.input :two_findings
    = f.input :two_liklihood
    = f.input :two_consequence
    = f.input :two_risk
    = f.input :two_recommendations
    = f.input :two_current
    = f.input :three_id
    = f.input :three_description
    = f.input :three_findings
    = f.input :three_liklihood
    = f.input :three_consequence
    = f.input :three_risk
    = f.input :three_recommendations
    = f.input :three_current

  .form-actions
    = f.button :submit
