%p#notice= notice

%p
  %b Target:
  = @otg_authz.target_id
%p
  %b One:
  = @otg_authz.one_id
%p
  %b One description:
  = @otg_authz.one_description
%p
  %b One findings:
  = @otg_authz.one_findings
%p
  %b One liklihood:
  = @otg_authz.one_liklihood
%p
  %b One consequence:
  = @otg_authz.one_consequence
%p
  %b One risk:
  = @otg_authz.one_risk
%p
  %b One recommendations:
  = @otg_authz.one_recommendations
%p
  %b One current:
  = @otg_authz.one_current
%p
  %b Two:
  = @otg_authz.two_id
%p
  %b Two description:
  = @otg_authz.two_description
%p
  %b Two findings:
  = @otg_authz.two_findings
%p
  %b Two liklihood:
  = @otg_authz.two_liklihood
%p
  %b Two consequence:
  = @otg_authz.two_consequence
%p
  %b Two risk:
  = @otg_authz.two_risk
%p
  %b Two recommendations:
  = @otg_authz.two_recommendations
%p
  %b Two current:
  = @otg_authz.two_current
%p
  %b Three:
  = @otg_authz.three_id
%p
  %b Three description:
  = @otg_authz.three_description
%p
  %b Three findings:
  = @otg_authz.three_findings
%p
  %b Three liklihood:
  = @otg_authz.three_liklihood
%p
  %b Three consequence:
  = @otg_authz.three_consequence
%p
  %b Three risk:
  = @otg_authz.three_risk
%p
  %b Three recommendations:
  = @otg_authz.three_recommendations
%p
  %b Three current:
  = @otg_authz.three_current

= link_to 'Edit', edit_otg_authz_path(@otg_authz)
\|
= link_to 'Back', otg_authzs_path
