%p#notice= notice

%p
  %b Target:
  = @otg_authn.target_id
%p
  %b One:
  = @otg_authn.one_id
%p
  %b One description:
  = @otg_authn.one_description
%p
  %b One findings:
  = @otg_authn.one_findings
%p
  %b One liklihood:
  = @otg_authn.one_liklihood
%p
  %b One consequence:
  = @otg_authn.one_consequence
%p
  %b One risk:
  = @otg_authn.one_risk
%p
  %b One recommendations:
  = @otg_authn.one_recommendations
%p
  %b One current:
  = @otg_authn.one_current
%p
  %b Two:
  = @otg_authn.two_id
%p
  %b Two description:
  = @otg_authn.two_description
%p
  %b Two findings:
  = @otg_authn.two_findings
%p
  %b Two liklihood:
  = @otg_authn.two_liklihood
%p
  %b Two consequence:
  = @otg_authn.two_consequence
%p
  %b Two risk:
  = @otg_authn.two_risk
%p
  %b Two recommendations:
  = @otg_authn.two_recommendations
%p
  %b Two current:
  = @otg_authn.two_current
%p
  %b Three:
  = @otg_authn.three_id
%p
  %b Three description:
  = @otg_authn.three_description
%p
  %b Three findings:
  = @otg_authn.three_findings
%p
  %b Three liklihood:
  = @otg_authn.three_liklihood
%p
  %b Three consequence:
  = @otg_authn.three_consequence
%p
  %b Three risk:
  = @otg_authn.three_risk
%p
  %b Three recommendations:
  = @otg_authn.three_recommendations
%p
  %b Three current:
  = @otg_authn.three_current
%p
  %b Four:
  = @otg_authn.four_id
%p
  %b Four description:
  = @otg_authn.four_description
%p
  %b Four findings:
  = @otg_authn.four_findings
%p
  %b Four liklihood:
  = @otg_authn.four_liklihood
%p
  %b Four consequence:
  = @otg_authn.four_consequence
%p
  %b Four risk:
  = @otg_authn.four_risk
%p
  %b Four recommendations:
  = @otg_authn.four_recommendations
%p
  %b Four current:
  = @otg_authn.four_current
%p
  %b Five:
  = @otg_authn.five_id
%p
  %b Five description:
  = @otg_authn.five_description
%p
  %b Five findings:
  = @otg_authn.five_findings
%p
  %b Five liklihood:
  = @otg_authn.five_liklihood
%p
  %b Five consequence:
  = @otg_authn.five_consequence
%p
  %b Five risk:
  = @otg_authn.five_risk
%p
  %b Five recommendations:
  = @otg_authn.five_recommendations
%p
  %b Five current:
  = @otg_authn.five_current
%p
  %b Six:
  = @otg_authn.six_id
%p
  %b Six description:
  = @otg_authn.six_description
%p
  %b Six findings:
  = @otg_authn.six_findings
%p
  %b Six liklihood:
  = @otg_authn.six_liklihood
%p
  %b Six consequence:
  = @otg_authn.six_consequence
%p
  %b Six risk:
  = @otg_authn.six_risk
%p
  %b Six recommendations:
  = @otg_authn.six_recommendations
%p
  %b Six current:
  = @otg_authn.six_current
%p
  %b Seven:
  = @otg_authn.seven_id
%p
  %b Seven description:
  = @otg_authn.seven_description
%p
  %b Seven findings:
  = @otg_authn.seven_findings
%p
  %b Seven liklihood:
  = @otg_authn.seven_liklihood
%p
  %b Seven consequence:
  = @otg_authn.seven_consequence
%p
  %b Seven risk:
  = @otg_authn.seven_risk
%p
  %b Seven recommendations:
  = @otg_authn.seven_recommendations
%p
  %b Seven current:
  = @otg_authn.seven_current
%p
  %b Eight:
  = @otg_authn.eight_id
%p
  %b Eight description:
  = @otg_authn.eight_description
%p
  %b Eight findings:
  = @otg_authn.eight_findings
%p
  %b Eight liklihood:
  = @otg_authn.eight_liklihood
%p
  %b Eight consequence:
  = @otg_authn.eight_consequence
%p
  %b Eight risk:
  = @otg_authn.eight_risk
%p
  %b Eight recommendations:
  = @otg_authn.eight_recommendations
%p
  %b Eight current:
  = @otg_authn.eight_current
%p
  %b Nine:
  = @otg_authn.nine_id
%p
  %b Nine description:
  = @otg_authn.nine_description
%p
  %b Nine findings:
  = @otg_authn.nine_findings
%p
  %b Nine liklihood:
  = @otg_authn.nine_liklihood
%p
  %b Nine consequence:
  = @otg_authn.nine_consequence
%p
  %b Nine risk:
  = @otg_authn.nine_risk
%p
  %b Nine recommendations:
  = @otg_authn.nine_recommendations
%p
  %b Nine current:
  = @otg_authn.nine_current
%p
  %b Ten:
  = @otg_authn.ten_id
%p
  %b Ten description:
  = @otg_authn.ten_description
%p
  %b Ten findings:
  = @otg_authn.ten_findings
%p
  %b Ten liklihood:
  = @otg_authn.ten_liklihood
%p
  %b Ten consequence:
  = @otg_authn.ten_consequence
%p
  %b Ten risk:
  = @otg_authn.ten_risk
%p
  %b Ten recommendations:
  = @otg_authn.ten_recommendations
%p
  %b Ten current:
  = @otg_authn.ten_current

= link_to 'Edit', edit_otg_authn_path(@otg_authn)
\|
= link_to 'Back', otg_authns_path
