%p#notice= notice

%section.feature-pricing
  %section.section-content.section-pricing#section-pricing 
    = simple_form_for(@otg_sess) do |f|
      = f.error_notification
      %section.section-content.section-table#section-table
        .container
          .row
            .span3
              -target = @otg_sess.target
              %h2.section-title Editing: Session Management Testing
            .span9     
              - (1..20).each do |iterator|
                - if @otg_sess.attributes.include?("#{iterator.humanize}_id")   
                            
                  %h3= @otg_sess.send "#{iterator.humanize}_id" 
                  %table.table.table-striped.table-condensed
                    %tr
                      %th{:style => "width:25%;"} Description
                      %td{:style => "width:75%;"}= f.text_area("#{iterator.humanize}_description", :style => "width:90%;")
                    %tr
                      %th Findings
                      %td= f.text_area("#{iterator.humanize}_findings", :style => "width:90%;")
                    %tr
                      %th Recommendations
                      %td= f.text_area("#{iterator.humanize}_recommendations", :style => "width:90%")
                    %tr
                      %th Liklihood
                      %td{:style=>"width:5px;"}= f.input "#{iterator.humanize}_liklihood", collection: 1..3, :label => false
                    %tr
                      %th Consequence
                      %td= f.input "#{iterator.humanize}_consequence", collection: 1..3, :label => false
                      / %th Severity
                      /# %td= @otg_sess.send("#{iterator.humanize}_risk")
              .form-actions
                = f.button :submit, 'Save'

\