%h1 Listing otg_buslogics

%table
  %thead
    %tr
      %th Target
      %th One
      %th One description
      %th One findings
      %th One liklihood
      %th One consequence
      %th One risk
      %th One recommendations
      %th One current
      %th Two
      %th Two description
      %th Two findings
      %th Two liklihood
      %th Two consequence
      %th Two risk
      %th Two recommendations
      %th Two current
      %th Three
      %th Three description
      %th Three findings
      %th Three liklihood
      %th Three consequence
      %th Three risk
      %th Three recommendations
      %th Three current
      %th Four
      %th Four description
      %th Four findings
      %th Four liklihood
      %th Four consequence
      %th Four risk
      %th Four recommendations
      %th Four current
      %th Five
      %th Five description
      %th Five findings
      %th Five liklihood
      %th Five consequence
      %th Five risk
      %th Five recommendations
      %th Five current
      %th Six
      %th Six description
      %th Six findings
      %th Six liklihood
      %th Six consequence
      %th Six risk
      %th Six recommendations
      %th Six current
      %th Seven
      %th Seven description
      %th Seven findings
      %th Seven liklihood
      %th Seven consequence
      %th Seven risk
      %th Seven recommendations
      %th Seven current
      %th Eight
      %th Eight description
      %th Eight findings
      %th Eight liklihood
      %th Eight consequence
      %th Eight risk
      %th Eight recommendations
      %th Eight current
      %th Nine
      %th Nine description
      %th Nine findings
      %th Nine liklihood
      %th Nine consequence
      %th Nine risk
      %th Nine recommendations
      %th Nine current
      %th
      %th
      %th

  %tbody
    - @otg_buslogics.each do |otg_buslogic|
      %tr
        %td= otg_buslogic.target_id
        %td= otg_buslogic.one_id
        %td= otg_buslogic.one_description
        %td= otg_buslogic.one_findings
        %td= otg_buslogic.one_liklihood
        %td= otg_buslogic.one_consequence
        %td= otg_buslogic.one_risk
        %td= otg_buslogic.one_recommendations
        %td= otg_buslogic.one_current
        %td= otg_buslogic.two_id
        %td= otg_buslogic.two_description
        %td= otg_buslogic.two_findings
        %td= otg_buslogic.two_liklihood
        %td= otg_buslogic.two_consequence
        %td= otg_buslogic.two_risk
        %td= otg_buslogic.two_recommendations
        %td= otg_buslogic.two_current
        %td= otg_buslogic.three_id
        %td= otg_buslogic.three_description
        %td= otg_buslogic.three_findings
        %td= otg_buslogic.three_liklihood
        %td= otg_buslogic.three_consequence
        %td= otg_buslogic.three_risk
        %td= otg_buslogic.three_recommendations
        %td= otg_buslogic.three_current
        %td= otg_buslogic.four_id
        %td= otg_buslogic.four_description
        %td= otg_buslogic.four_findings
        %td= otg_buslogic.four_liklihood
        %td= otg_buslogic.four_consequence
        %td= otg_buslogic.four_risk
        %td= otg_buslogic.four_recommendations
        %td= otg_buslogic.four_current
        %td= otg_buslogic.five_id
        %td= otg_buslogic.five_description
        %td= otg_buslogic.five_findings
        %td= otg_buslogic.five_liklihood
        %td= otg_buslogic.five_consequence
        %td= otg_buslogic.five_risk
        %td= otg_buslogic.five_recommendations
        %td= otg_buslogic.five_current
        %td= otg_buslogic.six_id
        %td= otg_buslogic.six_description
        %td= otg_buslogic.six_findings
        %td= otg_buslogic.six_liklihood
        %td= otg_buslogic.six_consequence
        %td= otg_buslogic.six_risk
        %td= otg_buslogic.six_recommendations
        %td= otg_buslogic.six_current
        %td= otg_buslogic.seven_id
        %td= otg_buslogic.seven_description
        %td= otg_buslogic.seven_findings
        %td= otg_buslogic.seven_liklihood
        %td= otg_buslogic.seven_consequence
        %td= otg_buslogic.seven_risk
        %td= otg_buslogic.seven_recommendations
        %td= otg_buslogic.seven_current
        %td= otg_buslogic.eight_id
        %td= otg_buslogic.eight_description
        %td= otg_buslogic.eight_findings
        %td= otg_buslogic.eight_liklihood
        %td= otg_buslogic.eight_consequence
        %td= otg_buslogic.eight_risk
        %td= otg_buslogic.eight_recommendations
        %td= otg_buslogic.eight_current
        %td= otg_buslogic.nine_id
        %td= otg_buslogic.nine_description
        %td= otg_buslogic.nine_findings
        %td= otg_buslogic.nine_liklihood
        %td= otg_buslogic.nine_consequence
        %td= otg_buslogic.nine_risk
        %td= otg_buslogic.nine_recommendations
        %td= otg_buslogic.nine_current
        %td= link_to 'Show', otg_buslogic
        %td= link_to 'Edit', edit_otg_buslogic_path(otg_buslogic)
        %td= link_to 'Destroy', otg_buslogic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Otg buslogic', new_otg_buslogic_path
