%p#notice= notice

%p
  %b Target:
  = @otg_ident.target_id
%p
  %b One:
  = @otg_ident.one_id
%p
  %b One description:
  = @otg_ident.one_description
%p
  %b One findings:
  = @otg_ident.one_findings
%p
  %b One liklihood:
  = @otg_ident.one_liklihood
%p
  %b One consequence:
  = @otg_ident.one_consequence
%p
  %b One risk:
  = @otg_ident.one_risk
%p
  %b One recommendations:
  = @otg_ident.one_recommendations
%p
  %b One current:
  = @otg_ident.one_current
%p
  %b Two:
  = @otg_ident.two_id
%p
  %b Two description:
  = @otg_ident.two_description
%p
  %b Two findings:
  = @otg_ident.two_findings
%p
  %b Two liklihood:
  = @otg_ident.two_liklihood
%p
  %b Two consequence:
  = @otg_ident.two_consequence
%p
  %b Two risk:
  = @otg_ident.two_risk
%p
  %b Two recommendations:
  = @otg_ident.two_recommendations
%p
  %b Two current:
  = @otg_ident.two_current
%p
  %b Three:
  = @otg_ident.three_id
%p
  %b Three description:
  = @otg_ident.three_description
%p
  %b Three findings:
  = @otg_ident.three_findings
%p
  %b Three liklihood:
  = @otg_ident.three_liklihood
%p
  %b Three consequence:
  = @otg_ident.three_consequence
%p
  %b Three risk:
  = @otg_ident.three_risk
%p
  %b Three recommendations:
  = @otg_ident.three_recommendations
%p
  %b Three current:
  = @otg_ident.three_current
%p
  %b Four:
  = @otg_ident.four_id
%p
  %b Four description:
  = @otg_ident.four_description
%p
  %b Four findings:
  = @otg_ident.four_findings
%p
  %b Four liklihood:
  = @otg_ident.four_liklihood
%p
  %b Four consequence:
  = @otg_ident.four_consequence
%p
  %b Four risk:
  = @otg_ident.four_risk
%p
  %b Four recommendations:
  = @otg_ident.four_recommendations
%p
  %b Four current:
  = @otg_ident.four_current
%p
  %b Five:
  = @otg_ident.five_id
%p
  %b Five description:
  = @otg_ident.five_description
%p
  %b Five findings:
  = @otg_ident.five_findings
%p
  %b Five liklihood:
  = @otg_ident.five_liklihood
%p
  %b Five consequence:
  = @otg_ident.five_consequence
%p
  %b Five risk:
  = @otg_ident.five_risk
%p
  %b Five recommendations:
  = @otg_ident.five_recommendations
%p
  %b Five current:
  = @otg_ident.five_current
%p
  %b Six:
  = @otg_ident.six_id
%p
  %b Six description:
  = @otg_ident.six_description
%p
  %b Six findings:
  = @otg_ident.six_findings
%p
  %b Six liklihood:
  = @otg_ident.six_liklihood
%p
  %b Six consequence:
  = @otg_ident.six_consequence
%p
  %b Six risk:
  = @otg_ident.six_risk
%p
  %b Six recommendations:
  = @otg_ident.six_recommendations
%p
  %b Six current:
  = @otg_ident.six_current
%p
  %b Seven:
  = @otg_ident.seven_id
%p
  %b Seven description:
  = @otg_ident.seven_description
%p
  %b Seven findings:
  = @otg_ident.seven_findings
%p
  %b Seven liklihood:
  = @otg_ident.seven_liklihood
%p
  %b Seven consequence:
  = @otg_ident.seven_consequence
%p
  %b Seven risk:
  = @otg_ident.seven_risk
%p
  %b Seven recommendations:
  = @otg_ident.seven_recommendations
%p
  %b Seven current:
  = @otg_ident.seven_current

= link_to 'Edit', edit_otg_ident_path(@otg_ident)
\|
= link_to 'Back', otg_idents_path
