%h1 Listing otg_clients

%table
  %thead
    %tr
      %th Target
      %th One
      %th One description
      %th One findings
      %th One liklihood
      %th One consequence
      %th One risk
      %th One recommendations
      %th One current
      %th Two
      %th Two description
      %th Two findings
      %th Two liklihood
      %th Two consequence
      %th Two risk
      %th Two recommendations
      %th Two current
      %th Three
      %th Three description
      %th Three findings
      %th Three liklihood
      %th Three consequence
      %th Three risk
      %th Three recommendations
      %th Three current
      %th Four
      %th Four description
      %th Four findings
      %th Four liklihood
      %th Four consequence
      %th Four risk
      %th Four recommendations
      %th Four current
      %th Five
      %th Five description
      %th Five findings
      %th Five liklihood
      %th Five consequence
      %th Five risk
      %th Five recommendations
      %th Five current
      %th Six
      %th Six description
      %th Six findings
      %th Six liklihood
      %th Six consequence
      %th Six risk
      %th Six recommendations
      %th Six current
      %th Seven
      %th Seven description
      %th Seven findings
      %th Seven liklihood
      %th Seven consequence
      %th Seven risk
      %th Seven recommendations
      %th Seven current
      %th Eight
      %th Eight description
      %th Eight findings
      %th Eight liklihood
      %th Eight consequence
      %th Eight risk
      %th Eight recommendations
      %th Eight current
      %th Nine
      %th Nine description
      %th Nine findings
      %th Nine liklihood
      %th Nine consequence
      %th Nine risk
      %th Nine recommendations
      %th Nine current
      %th Ten
      %th Ten description
      %th Ten findings
      %th Ten liklihood
      %th Ten consequence
      %th Ten risk
      %th Ten recommendations
      %th Ten current
      %th Eleven
      %th Eleven description
      %th Eleven findings
      %th Eleven liklihood
      %th Eleven consequence
      %th Eleven risk
      %th Eleven recommendations
      %th Eleven current
      %th Ten
      %th Twelve description
      %th Twelve findings
      %th Twelve liklihood
      %th Twelve consequence
      %th Twelve risk
      %th Twelve recommendations
      %th Twelve current
      %th
      %th
      %th

  %tbody
    - @otg_clients.each do |otg_client|
      %tr
        %td= otg_client.target_id
        %td= otg_client.one_id
        %td= otg_client.one_description
        %td= otg_client.one_findings
        %td= otg_client.one_liklihood
        %td= otg_client.one_consequence
        %td= otg_client.one_risk
        %td= otg_client.one_recommendations
        %td= otg_client.one_current
        %td= otg_client.two_id
        %td= otg_client.two_description
        %td= otg_client.two_findings
        %td= otg_client.two_liklihood
        %td= otg_client.two_consequence
        %td= otg_client.two_risk
        %td= otg_client.two_recommendations
        %td= otg_client.two_current
        %td= otg_client.three_id
        %td= otg_client.three_description
        %td= otg_client.three_findings
        %td= otg_client.three_liklihood
        %td= otg_client.three_consequence
        %td= otg_client.three_risk
        %td= otg_client.three_recommendations
        %td= otg_client.three_current
        %td= otg_client.four_id
        %td= otg_client.four_description
        %td= otg_client.four_findings
        %td= otg_client.four_liklihood
        %td= otg_client.four_consequence
        %td= otg_client.four_risk
        %td= otg_client.four_recommendations
        %td= otg_client.four_current
        %td= otg_client.five_id
        %td= otg_client.five_description
        %td= otg_client.five_findings
        %td= otg_client.five_liklihood
        %td= otg_client.five_consequence
        %td= otg_client.five_risk
        %td= otg_client.five_recommendations
        %td= otg_client.five_current
        %td= otg_client.six_id
        %td= otg_client.six_description
        %td= otg_client.six_findings
        %td= otg_client.six_liklihood
        %td= otg_client.six_consequence
        %td= otg_client.six_risk
        %td= otg_client.six_recommendations
        %td= otg_client.six_current
        %td= otg_client.seven_id
        %td= otg_client.seven_description
        %td= otg_client.seven_findings
        %td= otg_client.seven_liklihood
        %td= otg_client.seven_consequence
        %td= otg_client.seven_risk
        %td= otg_client.seven_recommendations
        %td= otg_client.seven_current
        %td= otg_client.eight_id
        %td= otg_client.eight_description
        %td= otg_client.eight_findings
        %td= otg_client.eight_liklihood
        %td= otg_client.eight_consequence
        %td= otg_client.eight_risk
        %td= otg_client.eight_recommendations
        %td= otg_client.eight_current
        %td= otg_client.nine_id
        %td= otg_client.nine_description
        %td= otg_client.nine_findings
        %td= otg_client.nine_liklihood
        %td= otg_client.nine_consequence
        %td= otg_client.nine_risk
        %td= otg_client.nine_recommendations
        %td= otg_client.nine_current
        %td= otg_client.ten_id
        %td= otg_client.ten_description
        %td= otg_client.ten_findings
        %td= otg_client.ten_liklihood
        %td= otg_client.ten_consequence
        %td= otg_client.ten_risk
        %td= otg_client.ten_recommendations
        %td= otg_client.ten_current
        %td= otg_client.eleven_id
        %td= otg_client.eleven_description
        %td= otg_client.eleven_findings
        %td= otg_client.eleven_liklihood
        %td= otg_client.eleven_consequence
        %td= otg_client.eleven_risk
        %td= otg_client.eleven_recommendations
        %td= otg_client.eleven_current
        %td= otg_client.ten_id
        %td= otg_client.twelve_description
        %td= otg_client.twelve_findings
        %td= otg_client.twelve_liklihood
        %td= otg_client.twelve_consequence
        %td= otg_client.twelve_risk
        %td= otg_client.twelve_recommendations
        %td= otg_client.twelve_current
        %td= link_to 'Show', otg_client
        %td= link_to 'Edit', edit_otg_client_path(otg_client)
        %td= link_to 'Destroy', otg_client, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Otg client', new_otg_client_path
