%p#notice= notice

%p
  %b Target:
  = @otg_client.target_id
%p
  %b One:
  = @otg_client.one_id
%p
  %b One description:
  = @otg_client.one_description
%p
  %b One findings:
  = @otg_client.one_findings
%p
  %b One liklihood:
  = @otg_client.one_liklihood
%p
  %b One consequence:
  = @otg_client.one_consequence
%p
  %b One risk:
  = @otg_client.one_risk
%p
  %b One recommendations:
  = @otg_client.one_recommendations
%p
  %b One current:
  = @otg_client.one_current
%p
  %b Two:
  = @otg_client.two_id
%p
  %b Two description:
  = @otg_client.two_description
%p
  %b Two findings:
  = @otg_client.two_findings
%p
  %b Two liklihood:
  = @otg_client.two_liklihood
%p
  %b Two consequence:
  = @otg_client.two_consequence
%p
  %b Two risk:
  = @otg_client.two_risk
%p
  %b Two recommendations:
  = @otg_client.two_recommendations
%p
  %b Two current:
  = @otg_client.two_current
%p
  %b Three:
  = @otg_client.three_id
%p
  %b Three description:
  = @otg_client.three_description
%p
  %b Three findings:
  = @otg_client.three_findings
%p
  %b Three liklihood:
  = @otg_client.three_liklihood
%p
  %b Three consequence:
  = @otg_client.three_consequence
%p
  %b Three risk:
  = @otg_client.three_risk
%p
  %b Three recommendations:
  = @otg_client.three_recommendations
%p
  %b Three current:
  = @otg_client.three_current
%p
  %b Four:
  = @otg_client.four_id
%p
  %b Four description:
  = @otg_client.four_description
%p
  %b Four findings:
  = @otg_client.four_findings
%p
  %b Four liklihood:
  = @otg_client.four_liklihood
%p
  %b Four consequence:
  = @otg_client.four_consequence
%p
  %b Four risk:
  = @otg_client.four_risk
%p
  %b Four recommendations:
  = @otg_client.four_recommendations
%p
  %b Four current:
  = @otg_client.four_current
%p
  %b Five:
  = @otg_client.five_id
%p
  %b Five description:
  = @otg_client.five_description
%p
  %b Five findings:
  = @otg_client.five_findings
%p
  %b Five liklihood:
  = @otg_client.five_liklihood
%p
  %b Five consequence:
  = @otg_client.five_consequence
%p
  %b Five risk:
  = @otg_client.five_risk
%p
  %b Five recommendations:
  = @otg_client.five_recommendations
%p
  %b Five current:
  = @otg_client.five_current
%p
  %b Six:
  = @otg_client.six_id
%p
  %b Six description:
  = @otg_client.six_description
%p
  %b Six findings:
  = @otg_client.six_findings
%p
  %b Six liklihood:
  = @otg_client.six_liklihood
%p
  %b Six consequence:
  = @otg_client.six_consequence
%p
  %b Six risk:
  = @otg_client.six_risk
%p
  %b Six recommendations:
  = @otg_client.six_recommendations
%p
  %b Six current:
  = @otg_client.six_current
%p
  %b Seven:
  = @otg_client.seven_id
%p
  %b Seven description:
  = @otg_client.seven_description
%p
  %b Seven findings:
  = @otg_client.seven_findings
%p
  %b Seven liklihood:
  = @otg_client.seven_liklihood
%p
  %b Seven consequence:
  = @otg_client.seven_consequence
%p
  %b Seven risk:
  = @otg_client.seven_risk
%p
  %b Seven recommendations:
  = @otg_client.seven_recommendations
%p
  %b Seven current:
  = @otg_client.seven_current
%p
  %b Eight:
  = @otg_client.eight_id
%p
  %b Eight description:
  = @otg_client.eight_description
%p
  %b Eight findings:
  = @otg_client.eight_findings
%p
  %b Eight liklihood:
  = @otg_client.eight_liklihood
%p
  %b Eight consequence:
  = @otg_client.eight_consequence
%p
  %b Eight risk:
  = @otg_client.eight_risk
%p
  %b Eight recommendations:
  = @otg_client.eight_recommendations
%p
  %b Eight current:
  = @otg_client.eight_current
%p
  %b Nine:
  = @otg_client.nine_id
%p
  %b Nine description:
  = @otg_client.nine_description
%p
  %b Nine findings:
  = @otg_client.nine_findings
%p
  %b Nine liklihood:
  = @otg_client.nine_liklihood
%p
  %b Nine consequence:
  = @otg_client.nine_consequence
%p
  %b Nine risk:
  = @otg_client.nine_risk
%p
  %b Nine recommendations:
  = @otg_client.nine_recommendations
%p
  %b Nine current:
  = @otg_client.nine_current
%p
  %b Ten:
  = @otg_client.ten_id
%p
  %b Ten description:
  = @otg_client.ten_description
%p
  %b Ten findings:
  = @otg_client.ten_findings
%p
  %b Ten liklihood:
  = @otg_client.ten_liklihood
%p
  %b Ten consequence:
  = @otg_client.ten_consequence
%p
  %b Ten risk:
  = @otg_client.ten_risk
%p
  %b Ten recommendations:
  = @otg_client.ten_recommendations
%p
  %b Ten current:
  = @otg_client.ten_current
%p
  %b Eleven:
  = @otg_client.eleven_id
%p
  %b Eleven description:
  = @otg_client.eleven_description
%p
  %b Eleven findings:
  = @otg_client.eleven_findings
%p
  %b Eleven liklihood:
  = @otg_client.eleven_liklihood
%p
  %b Eleven consequence:
  = @otg_client.eleven_consequence
%p
  %b Eleven risk:
  = @otg_client.eleven_risk
%p
  %b Eleven recommendations:
  = @otg_client.eleven_recommendations
%p
  %b Eleven current:
  = @otg_client.eleven_current
%p
  %b Ten:
  = @otg_client.ten_id
%p
  %b Twelve description:
  = @otg_client.twelve_description
%p
  %b Twelve findings:
  = @otg_client.twelve_findings
%p
  %b Twelve liklihood:
  = @otg_client.twelve_liklihood
%p
  %b Twelve consequence:
  = @otg_client.twelve_consequence
%p
  %b Twelve risk:
  = @otg_client.twelve_risk
%p
  %b Twelve recommendations:
  = @otg_client.twelve_recommendations
%p
  %b Twelve current:
  = @otg_client.twelve_current

= link_to 'Edit', edit_otg_client_path(@otg_client)
\|
= link_to 'Back', otg_clients_path
